.fx-card{
  padding: 0px;
  box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.05);
  margin: 10px;
  transition: 0.3s all ease;
  img{
    width: 100%;
  }
  &:hover{
    box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.2);
  }
}
.fx-card-body{
  padding: 10px 10px;
}
