/* Error: Undefined variable.
 *   ,
 * 3 |   background: $primaryColor;
 *   |               ^^^^^^^^^^^^^
 *   '
 *   c:\users\user\pictures\manzil media\ziqx\fabex\scss\_input.scss 3:15  buttonDefaults()
 *   c:\users\user\pictures\manzil media\ziqx\fabex\scss\_input.scss 21:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502    background: $primaryColor;\d\a   \2502                ^^^^^^^^^^^^^\a   \2575 \a   c:\\users\\user\\pictures\\manzil media\\ziqx\\fabex\\scss\\_input.scss 3:15  buttonDefaults()\a   c:\\users\\user\\pictures\\manzil media\\ziqx\\fabex\\scss\\_input.scss 21:3  root stylesheet";
}
