$primaryColor : #040404;
$alertDefault : #D8EAFC;
$alertSuccess : #EDFBF6;
$alertWarning : #FEF4F6;
$redText : #F2506E;
$greenText : #32D296;
$blueText : #1E87F0;


@font-face {
  src: url('https://cdn.ziqx.in/f/fonts/fxB.ttf');
  font-family: "fxBold";
}
@font-face {
  src: url('https://cdn.ziqx.in/f/fonts/fxL.ttf');
  font-family: "fxLight";
}
@font-face {
  src: url('https://cdn.ziqx.in/f/fonts/fxM.ttf');
  font-family: "fxMedium";
}
@font-face {
  src: url('https://cdn.ziqx.in/f/fonts/fxR.ttf');
  font-family: "fxRegular";
}
