@font-face {
  src: url("https://cdn.ziqx.in/f/fonts/fxB.ttf");
  font-family: "fxBold";
}

@font-face {
  src: url("https://cdn.ziqx.in/f/fonts/fxL.ttf");
  font-family: "fxLight";
}

@font-face {
  src: url("https://cdn.ziqx.in/f/fonts/fxM.ttf");
  font-family: "fxMedium";
}

@font-face {
  src: url("https://cdn.ziqx.in/f/fonts/fxR.ttf");
  font-family: "fxRegular";
}

.fx-alert {
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
}

.warning {
  background: #FEF4F6;
  color: #F2506E;
}

.success {
  background: #EDFBF6;
  color: #32D296;
}

.defaultAlert {
  background: #D8EAFC;
  color: #1E87F0;
}

#closeR {
  color: #F2506E;
  float: right;
}

#closeG {
  color: #32D296;
  float: right;
}

#closeB {
  color: #1E87F0;
  float: right;
}

button {
  background: #040404;
  padding: 10px 25px;
  color: #fff;
  border: none;
  border-radius: 3px;
  border: 2px solid #040404;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-weight: bold;
}

button:hover {
  color: #040404;
  border: 2px solid #040404;
  background: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.alert-btn {
  background: #F2506E;
  padding: 10px 25px;
  color: #fff;
  border: none;
  border-radius: 3px;
  border: 2px solid #F2506E;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-weight: bold;
}

.alert-btn:hover {
  color: #F2506E;
  border: 2px solid #F2506E;
  background: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.success-btn {
  background: #32D296;
  padding: 10px 25px;
  color: #fff;
  border: none;
  border-radius: 3px;
  border: 2px solid #32D296;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-weight: bold;
}

.success-btn:hover {
  color: #32D296;
  border: 2px solid #32D296;
  background: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

select {
  width: 100%;
  padding: 10px;
  outline: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

select:focus {
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.4);
}

input[type='text'] {
  width: 100%;
  height: 25px;
  padding: 5px 10px;
  outline: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

input[type='text']:focus {
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.4);
}

input[type='password'] {
  width: 100%;
  height: 25px;
  padding: 5px 10px;
  outline: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

input[type='password']:focus {
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.4);
}

textarea {
  width: 100%;
  height: 25px;
  padding: 5px 10px;
  outline: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

textarea:focus {
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.4);
}

input[type='submit'] {
  background: #040404;
  padding: 10px 25px;
  color: #fff;
  border: none;
  border-radius: 3px;
  border: 2px solid #040404;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-weight: bold;
}

input[type='submit']:hover {
  color: #040404;
  border: 2px solid #040404;
  background: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

::-webkit-input-placeholder {
  color: grey;
}

:-ms-input-placeholder {
  color: grey;
}

::-ms-input-placeholder {
  color: grey;
}

::placeholder {
  color: grey;
}

.fx-row {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fx-card {
  padding: 0px;
  -webkit-box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.05);
  margin: 10px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.fx-card img {
  width: 100%;
}

.fx-card:hover {
  -webkit-box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.2);
}

.fx-card-body {
  padding: 10px 10px;
}

@media (min-width: 100px) and (max-width: 700px) {
  .fx-col {
    width: 100%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .fx-col {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .fx-col {
    width: 33%;
  }
}

.rounded {
  border-radius: 15px;
}

.no-rounded {
  border-radius: 0px;
}

.rounded-top {
  border-radius: 15px 15px 0px 0px;
}

.rounded-bottom {
  border-radius: 0px 0px 15px 15px;
}

.circle {
  border-radius: 50%;
}

.shadow {
  -webkit-box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.shadow:hover {
  -webkit-box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 13px 30px -12px rgba(0, 0, 0, 0.3);
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.pad10 {
  padding: 10px;
}

.pad20 {
  padding: 20px;
}

fx-red-strip, fx-green-strip, fx-blue-strip {
  border: 2px solid transparent;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

fx-red-strip {
  background: #FEF4F6;
  color: #F2506E;
  border-radius: 25px;
  padding: 3px 6px;
}

fx-red-strip:before {
  content: "\A";
  background: #F2506E;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

fx-red-strip:after {
  content: "";
  margin: 0 3px;
}

fx-red-strip:hover {
  border: 2px solid #F2506E;
  background: #fff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

fx-green-strip {
  background: #EDFBF6;
  color: #32D296;
  border-radius: 25px;
  padding: 3px 6px;
}

fx-green-strip:before {
  content: "\A";
  background: #32D296;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

fx-green-strip:after {
  content: "";
  margin: 0 3px;
}

fx-green-strip:hover {
  border: 2px solid #32D296;
  background: #fff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

fx-blue-strip {
  background: #D8EAFC;
  color: #1E87F0;
  border-radius: 25px;
  padding: 3px 6px;
}

fx-blue-strip:before {
  content: "\A";
  background: #1E87F0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

fx-blue-strip:after {
  content: "";
  margin: 0 3px;
}

fx-blue-strip:hover {
  border: 2px solid #1E87F0;
  background: #fff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.fx-red {
  background: #FEF4F6;
  color: #F2506E;
  padding: 3px;
}

.fx-green {
  background: #EDFBF6;
  color: #32D296;
  padding: 3px;
}

.fx-blue {
  background: #D8EAFC;
  color: #1E87F0;
  padding: 3px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.fx-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  position: relative;
  top: 5px;
  left: 5px;
  margin-right: 10px;
}

* {
  text-decoration: none;
  margin: 0;
}

body {
  font-family: "fxRegular";
}
/*# sourceMappingURL=fabex.v1.css.map */